/target
/Cargo.lock
/info.md
/outs.txt
/fonts
/images
/test.sh
/.vscode

/text/*
!/text/graphs
/text/graphs/*
!/text/static_images/
!/text/src
!/text/images
/text/images/*
!/text/main.tex
!/text/graphs/*.dot

/presentation/*
!/presentation/*.tex
